# Importing Libraries

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import os

# Importing Data

In [6]:
# setting path to Data Folder

path = r'C:\Documents\Career Foundry\Python\Instacart Basket Analysis\02 Data'

In [8]:
path

'C:\\Documents\\Career Foundry\\Python\\Instacart Basket Analysis\\02 Data'

In [42]:
# importing csv files

df_ords = pd.read_csv(os.path.join (path, 'Prepped Data', 'orders_checked.csv'), index_col = False)

In [43]:
df_ords

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,0.0
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...,...,...
3421078,3421078,3421078,2266710,206209,10,5,18,29.0
3421079,3421079,3421079,1854736,206209,11,4,10,30.0
3421080,3421080,3421080,626363,206209,12,1,12,18.0
3421081,3421081,3421081,2977660,206209,13,1,12,7.0
3421082,3421082,3421082,272231,206209,14,6,14,30.0

In [23]:
df_ords_prior = pd.read_csv(os.path.join (path, 'Original Data', 'order_products__prior.csv'), index_col = False)

In [24]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [25]:
df_ords_prior.shape

(32434489, 4)

In [58]:
df_ords.shape

(3421083, 6)

In [59]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,0.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [54]:
# drop extra columns

df_ords.drop(df_ords.columns[[0, 1]], axis = 1, inplace = True)

In [57]:
df_ords.shape

(3421083, 6)

In [60]:
# Merge df_ords and df_ords_prior on 'order_id'

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [61]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [62]:
df_merged_large.shape

(32434489, 10)

In [63]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [64]:
# Export df_ords with extra columns dropped to csv

df_ords.to_csv(os.path.join(path, 'Prepped Data', 'Orders_Checked.csv'))

# Task

In [67]:
# Export df_merged_large (df_ords & df_ords_prior) to .pkl

df_merged_large.to_pickle(os.path.join(path, 'Prepped Data', 'orders_products_combined.pkl'))