# Contents
### 1. Importing libraries
### 2. Importing data
### 3. Create 'price_range' using custom made function on temporary subset
### 4. Create 'price_range' flag in permanent df
### 5. Create 'busiest_day' flag
### 6. Create 'busiest_period_of_day' flag

# 1. Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# define function

def add_num(x,y):
    sum = x + y
    return sum

In [4]:
# run function

add_num(9,11)

20

# 2. Importing data

In [2]:
# setting path to Data Folder

path = r'C:\Documents\Career Foundry\Python\Instacart Basket Analysis\02 Data'

In [36]:
# importing merged order and product data

dfm = pd.read_pickle(os.path.join(path, 'Prepped Data', 'orders_products_merged.pkl'))

In [4]:
dfm.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0

# 3. Create 'price_range' using custom made function on temporary subset

In [5]:
dfs = dfm[:1000000]

In [6]:
dfm.shape

(32403007, 13)

In [7]:
dfs.shape

(1000000, 13)

In [9]:
def price_label(row):

    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <=15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High range'
    else: return 'Not enough data'

In [10]:
dfs['price_range'] = dfs.apply(price_label, axis = 1)

In [11]:
dfs.shape

(1000000, 14)

In [12]:
dfs.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product

In [15]:
dfs['price_range'].value_counts()

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [18]:
dfs['prices'].max()

14.8

In [19]:
dfs.loc[dfs['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [25]:
dfs.loc[(dfs['prices'] <= 15) & (dfs['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [21]:
dfs.loc[dfs['prices'] < 5, 'price_range_loc'] = 'Low-range product'

In [26]:
dfs['price_range_loc'].value_counts()

Mid-range product    756450
Low-range product    200945
Name: price_range_loc, dtype: int64

Low-range product is smaller using the loc function than Low_range product using if-then statement but I don't know why

In [27]:
dfs.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,price_range_loc
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Mid-range product

In [34]:
dfs['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    200945
NaN                   42605
Name: price_range_loc, dtype: int64

In [35]:
dfs['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

Low-range product is lower in price_range_loc than in price_range and the difference between the 2 numbers are shown in the NaNs in price_range_loc but I don't understand why.  I would think that the values that show up as NaNs in price_range_loc would show up as Not enough data in price_range but there is no count for Not enough data in price_range.

In [37]:
dfm.shape

(32403007, 13)

# 4. Create 'price_range' flag in permanent df

In [38]:
dfm.loc[dfm['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [40]:
dfm.loc[(dfm['prices'] <= 15) & (dfm['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [41]:
dfm.loc[dfm['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [43]:
dfm['price_range_loc'].value_counts(dropna = False)

Mid-range product     21859008
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

# 5. Create 'busiest_day' flag

In [46]:
result = []

for value in dfm["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [48]:
print(result)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [49]:
dfm['busiest_day'] = result

In [50]:
dfm['busiest_day'].value_counts(dropna = False)

Regularly busy    22415519
Busiest day        6203981
Least busy         3783507
Name: busiest_day, dtype: int64

In [51]:
dfm['orders_day_of_week'].value_counts(dropna = False)

0    6203981
1    5659830
6    4496371
2    4213559
5    4205487
3    3840272
4    3783507
Name: orders_day_of_week, dtype: int64

In [61]:
# Create list to become "Busiest days" column in dfm

result = []

for value in dfm["orders_day_of_week"]:
  if value == 0 or value == 1:
    result.append("Busiest days")
  elif value == 4 or value == 3:
    result.append("Least busy days")
  else:
    result.append("Regularly busy days")

In [62]:
# Create column in dfm from list 'result'

dfm['busiest_days'] = result

In [63]:
dfm.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days

In [64]:
# Check frequency of new column

dfm['busiest_days'].value_counts(dropna = False)

Regularly busy days    12915417
Busiest days           11863811
Least busy days         7623779
Name: busiest_days, dtype: int64

The count of 'busiest_days = the count of the 2 busiest 'orders_day_of_week'
The count of 'Least busy days = the count of the 2 least busy 'orders_day_of_week'

# 6. Create 'busiest_period_of_day' flag

In [65]:
# Find frequency of 'order_hour_of_day'

dfm['order_hour_of_day'].value_counts(dropna = False)

10    2761555
11    2735979
14    2688966
15    2662017
13    2660784
12    2618376
16    2535061
9     2454066
17    2087520
8     1718037
18    1636436
19    1258253
20     976119
7      891016
21     795590
22     634193
23     402278
6      290481
0      218757
1      115689
5       87954
2       69366
4       53238
3       51276
Name: order_hour_of_day, dtype: int64

In [71]:
# Create list to become "busiest_period_of_day" column in dfm
# "Most orders" = 9 - 17,  "Average orders" = 7 & 8 & 18-23, "Fewest orders" = 0 - 6

result = []

for value in dfm["order_hour_of_day"]:
  if value in range(9,18):
    result.append("Most orders")
  elif value in range(7,9) or value in range(18,24):
    result.append("Average orders")
  elif value in range(0,7):
    result.append("Fewest orders")
  else:
    result.append("Houston, there's been a problem")

In [72]:
# Create column in dfm from list 'result'

dfm['busiest_period_of_day'] = result

In [73]:
dfm.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders

In [74]:
# Frequency of new column

dfm['busiest_period_of_day'].value_counts(dropna = False)

Most orders       23204324
Average orders     8311922
Fewest orders       886761
Name: busiest_period_of_day, dtype: int64

In [75]:
# Export dfm to orders_products_merged as pickle

dfm.to_pickle(os.path.join(path, 'Prepped Data', 'orders_products_merged.pkl'))