# Contents
### 1. Import libraries
### 2. Import data
### 3. Create loyalty flag
### 4. Create spending flag
### 5. Create order_frequency flag

# 1. Import libraries

In [1]:
# Import Libraries

import pandas as pd
import numpy as np 
import os

# 2. Import data

In [2]:
# setting path to Data Folder

path = r'C:\Documents\Career Foundry\Python\Instacart Basket Analysis\02 Data'

In [3]:
dfm = pd.read_pickle(os.path.join(path, "Prepped Data", "OLD", "orders_products_mergedOLD2.pkl"))

In [10]:
dfm.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders

In [11]:
dfm.shape

(32403007, 17)

In [10]:
# Group by dept, find the sum of prices

sum_dept_by_price = dfm.groupby('department_id').agg({'prices' : ['sum']})

In [11]:
sum_dept_by_price

                     prices
                        sum
department_id
1              1.728921e+07
2              2.537080e+05
3              9.208026e+06
4              7.566093e+07
5              1.251654e+06
6              2.068473e+06
7              2.064614e+07
8              7.708884e+05
9              6.369954e+06
10             2.886486e+05
11             3.579130e+06
12             1.155157e+07
13             1.502066e+07
14             5.644626e+06
15             8.053132e+06
16             1.807475e+08
17             5.454353e+06
18             3.237161e+06
19             1.233480e+07
20             8.177352e+06
21             5.988452e+05

In [13]:
sum_dept_by_price.to_clipboard()

In [7]:
# Group by order hour of the day, find the mean of price

sum_price_by_hour = dfm.groupby('order_hour_of_day').agg({'prices' : ['sum']})

In [8]:
sum_price_by_hour

                         prices
                            sum
order_hour_of_day
0                  2.281056e+06
1                  1.156224e+06
2                  1.019698e+06
3                  6.801011e+05
4                  6.513408e+05
5                  1.111897e+06
6                  3.421905e+06
7                  1.096111e+07
8                  2.143701e+07
9                  2.882927e+07
10                 3.286705e+07
11                 3.326762e+07
12                 3.127953e+07
13                 3.054030e+07
14                 3.156813e+07
15                 3.240004e+07
16                 3.179228e+07
17                 2.673601e+07
18                 1.935854e+07
19                 1.577042e+07
20                 1.146912e+07
21                 8.939642e+06
22                 6.365827e+06
23                 4.302670e+06

In [9]:
sum_price_by_hour.to_clipboard()

In [18]:
# Group by department, find the mean, min, & max of order_number for each group

dfm.groupby('department_id').agg({'order_number' : ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.457838   1  99
2                17.277920   1  99
3                17.170395   1  99
4                17.811403   1  99
5                15.215751   1  99
6                16.439806   1  99
7                17.225802   1  99
8                15.340650   1  99
9                15.895474   1  99
10               20.197148   1  99
11               16.170638   1  99
12               15.887671   1  99
13               16.583536   1  99
14               16.773669   1  99
15               16.165037   1  99
16               17.665606   1  99
17               15.694469   1  99
18               19.310397   1  99
19               17.175919   1  99
20               16.473447   1  99
21               22.902379   1  99

# 3. Create loyalty flag

In [21]:
# Group by department, find max of order_number for each group

dfm['max_order'] = dfm.groupby(['user_id'])['order_number'].transform(np.max)

In [22]:
dfm.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22

There were no pink warning signs because the script is writing to the whole DF and not a slice

In [23]:
pd.options.display.max_rows = None

In [24]:
dfm.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,9
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,9
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,9
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,33
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,20
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,20
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,11
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,11
23,2497897,52,1,1,9,0.0,196,4,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,27
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,27
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,27
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,27
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,27
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,27
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,27
30,2542086,52,11,2,9,7.0,196,3,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,27
31,944694,52,12,1,16,6.0,196,7,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,27
32,1268191,52,15,2,11,8.0,196,3,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,27
33,1122089,52,17,2,10,6.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,27
34,1498922,52,18,2,10,14.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,27
35,180919,52,19,3,8,8.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,27
36,2695875,52,21,5,10,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,27
37,3205960,67,1,3,11,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,24
38,970922,67,2,1,15,5.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24
39,596585,67,3,1,13,7.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24
40,2037087,67,4,2,9,8.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,24
41,2474111,67,5,3,14,8.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,24
42,1568481,67,6,3,12,7.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,24
43,2048527,67,8,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,24
44,2389031,67,9,2,14,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,24
45,2378562,67,10,1,10,6.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24
46,1515698,67,11,1,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24
47,1928050,67,12,2,12,8.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,24
48,1949274,67,13,1,10,6.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24
49,551869,67,14,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24
50,768572,67,16,4,10,9.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,24
51,150528,67,18,5,16,4.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,24
52,29758,67,19,0,14,9.0,196,2,1,Soda,77,7,9.0,Mid-range product,Busiest day,Busiest days,Most orders,24
53,1558976,67,21,1,9,5.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24
54,863974,67,22,1,11,14.0,196,3,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24
55,2308399,67,23,1,14,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24
56,2759128,81,3,1,9,14.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,7
57,1812985,81,5,2,20,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,7
58,1889835,82,1,3,15,0.0,196,6,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,19
59,499460,82,3,5,10,5.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,19
60,2728456,82,4,0,11,16.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest day,Busiest days,Most orders,19
61,2653743,82,6,4,9,13.0,196,5,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,19
62,1358880,82,9,1,10,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,19
63,343588,82,10,2,11,1.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,19
64,3034663,82,15,2,11,12.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,19
65,147262,82,18,1,13,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,19
66,3144004,82,19,2,15,8.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,19
67,2126069,98,3,0,9,25.0,196,7,0,Soda,77,7,9.0,Mid-range product,Busiest day,Busiest days,Most orders,14
68,2210120,98,7,5,14,5.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,14
69,681011,98,9,3,9,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,14
70,2846344,98,11,4,13,15.0,196,2,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,14
71,747431,98,12,6,13,30.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,14
72,2383054,98,13,4,11,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,14
73,1993729,98,14,5,8,8.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,14
74,1403849,109,3,3,17,9.0,196,5,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,6
75,520620,120,1,3,11,0.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,3
76,3273029,120,3,2,8,19.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,3
77,1861943,185,2,1,12,25.0,196,10,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,6
78,2040988,195,1,1,14,0.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,58
79,1680569,195,8,1,9,4.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,58
80,276171,195,19,5,11,3.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,58
81,2744976,195,22,5,10,7.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,58
82,2781919,195,25,1,14,4.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,58
83,1738718,195,31,2,8,4.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,58
84,3058369,195,34,3,10,6.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,58
85,1485596,195,37,2,15,0.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,58
86,417035,195,40,3,16,2.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,58
87,1615297,195,47,5,10,2.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,58
88,1765587,195,52,3,12,2.0,196,3,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,58
89,745908,195,57,4,11,3.0,196,3,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,58
90,2505656,222,17,2,12,1.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,70
91,3268370,222,38,5,15,1.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,70
92,2016711,290,9,5,19,6.0,196,8,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,51
93,2706088,290,28,6,10,7.0,196,16,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,51
94,1952286,331,6,5,16,30.0,196,8,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,8
95,3226575,360,1,5,12,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,3
96,1469869,377,3,5,17,3.0,196,9,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,3
97,1927023,387,2,4,10,22.0,196,3,0,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,8
98,858092,420,4,1,19,30.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22
99,119314,420,5,3,19,16.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,22

In [25]:
dfm.loc[dfm['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
dfm.loc[(dfm['max_order'] <= 40) & (dfm['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
dfm.loc[dfm['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [26]:
dfm.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer

In [29]:
dfm['loyalty_flag'].value_counts(dropna = False)

Regular customer    15875861
Loyal customer      10283456
New customer         6243690
Name: loyalty_flag, dtype: int64

In the full data set there is a smaller proportion of New customers compared to the data subset

In [28]:
dfm[['user_id', 'order_number', 'loyalty_flag', 'max_order' ]].head(30)

    user_id  order_number      loyalty_flag  max_order
0         1             1      New customer         10
1         1             2      New customer         10
2         1             3      New customer         10
3         1             4      New customer         10
4         1             5      New customer         10
5         1             6      New customer         10
6         1             7      New customer         10
7         1             8      New customer         10
8         1             9      New customer         10
9         1            10      New customer         10
10       15            15  Regular customer         22
11       15            17  Regular customer         22
12       15            18  Regular customer         22
13       15            21  Regular customer         22
14       15            22  Regular customer         22
15       19             2      New customer          9
16       19             5      New customer          9
17       19             7      New customer          9
18       21            10  Regular customer         33
19       31            10  Regular customer         20
20       31            17  Regular customer         20
21       43             6  Regular customer         11
22       43             9  Regular customer         11
23       52             1  Regular customer         27
24       52             2  Regular customer         27
25       52             3  Regular customer         27
26       52             5  Regular customer         27
27       52             7  Regular customer         27
28       52             9  Regular customer         27
29       52            10  Regular customer         27

In [34]:
# Find basic price statistics per customer grouped by loyalty_flag

dfm.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386620  1.0  99999.0
New customer      13.295030  1.0  99999.0
Regular customer  12.496102  1.0  99999.0

loyal customers buy products with a lower average price

# 4. Create spending flag

In [36]:
# Group by user_id, find mean of price for each group

dfm['user_price_mean'] = dfm.groupby(['user_id'])['prices'].transform(np.mean)

In [37]:
dfm.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,user_price_mean
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797

Break users into groups of 'Low spender' or 'High spender'

In [38]:
dfm.loc[dfm['user_price_mean'] < 10, 'spending_flag'] = 'Low spender'

In [48]:
dfm.loc[(dfm['user_price_mean'] >= 10), 'spending_flag'] = 'High spender'

In [41]:
dfm.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,user_price_mean,spending_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low spender
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,22,Regular customer,3.980556,Low spender
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,22,Regular customer,3.980556,Low spender
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,9,New customer,8.372059,Low spender
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,9,New customer,8.372059,Low spender
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,9,New customer,8.372059,Low spender
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,33,Regular customer,7.012683,Low spender
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,20,Regular customer,8.137793,Low spender

In [49]:
dfm['spending_flag'].value_counts(dropna=False)

Low spender     31768906
High spender      634101
Name: spending_flag, dtype: int64

In [56]:
print(dfm[['spending_flag', 'user_price_mean', 'prices']].head(100))

   spending_flag  user_price_mean  prices
0    Low spender         6.367797     9.0
1    Low spender         6.367797     9.0
2    Low spender         6.367797     9.0
3    Low spender         6.367797     9.0
4    Low spender         6.367797     9.0
5    Low spender         6.367797     9.0
6    Low spender         6.367797     9.0
7    Low spender         6.367797     9.0
8    Low spender         6.367797     9.0
9    Low spender         6.367797     9.0
10   Low spender         3.980556     9.0
11   Low spender         3.980556     9.0
12   Low spender         3.980556     9.0
13   Low spender         3.980556     9.0
14   Low spender         3.980556     9.0
15   Low spender         8.372059     9.0
16   Low spender         8.372059     9.0
17   Low spender         8.372059     9.0
18   Low spender         7.012683     9.0
19   Low spender         8.137793     9.0
20   Low spender         8.137793     9.0
21   Low spender         7.444898     9.0
22   Low spender         7.444898     9.0
23   Low spender         6.356287     9.0
24   Low spender         6.356287     9.0
25   Low spender         6.356287     9.0
26   Low spender         6.356287     9.0
27   Low spender         6.356287     9.0
28   Low spender         6.356287     9.0
29   Low spender         6.356287     9.0
30   Low spender         6.356287     9.0
31   Low spender         6.356287     9.0
32   Low spender         6.356287     9.0
33   Low spender         6.356287     9.0
34   Low spender         6.356287     9.0
35   Low spender         6.356287     9.0
36   Low spender         6.356287     9.0
37   Low spender         7.656790     9.0
38   Low spender         7.656790     9.0
39   Low spender         7.656790     9.0
40   Low spender         7.656790     9.0
41   Low spender         7.656790     9.0
42   Low spender         7.656790     9.0
43   Low spender         7.656790     9.0
44   Low spender         7.656790     9.0
45   Low spender         7.656790     9.0
46   Low spender         7.656790     9.0
47   Low spender         7.656790     9.0
48   Low spender         7.656790     9.0
49   Low spender         7.656790     9.0
50   Low spender         7.656790     9.0
51   Low spender         7.656790     9.0
52   Low spender         7.656790     9.0
53   Low spender         7.656790     9.0
54   Low spender         7.656790     9.0
55   Low spender         7.656790     9.0
56   Low spender         8.165385     9.0
57   Low spender         8.165385     9.0
58   Low spender         6.441221     9.0
59   Low spender         6.441221     9.0
60   Low spender         6.441221     9.0
61   Low spender         6.441221     9.0
62   Low spender         6.441221     9.0
63   Low spender         6.441221     9.0
64   Low spender         6.441221     9.0
65   Low spender         6.441221     9.0
66   Low spender         6.441221     9.0
67   Low spender         8.028000     9.0
68   Low spender         8.028000     9.0
69   Low spender         8.028000     9.0
70   Low spender         8.028000     9.0
71   Low spender         8.028000     9.0
72   Low spender         8.028000     9.0
73   Low spender         8.028000     9.0
74   Low spender         5.850725     9.0
75   Low spender         9.385714     9.0
76   Low spender         9.385714     9.0
77   Low spender         7.715000     9.0
78   Low spender         7.149730     9.0
79   Low spender         7.149730     9.0
80   Low spender         7.149730     9.0
81   Low spender         7.149730     9.0
82   Low spender         7.149730     9.0
83   Low spender         7.149730     9.0
84   Low spender         7.149730     9.0
85   Low spender         7.149730     9.0
86   Low spender         7.149730     9.0
87   Low spender         7.149730     9.0
88   Low spender         7.149730     9.0
89   Low spender         7.149730     9.0
90   Low spender         6.862397     9.0
91   Low spender         6.862397     9.0
92   Low spender         7.285597     9.0
93   Low spender         7.285597     9.0
94   Low spender         7.705128     9.0
95  High spender        10.006250     9.0
96   Low spender         8.496552     9.0
97   Low spender         7.396610     9.0
98   Low spender         7.387805     9.0
99   Low spender         7.387805     9.0

# 5. Create order_frequency flag

In [58]:
# Find median of "days_since_prior_order" grouped by 'user_id'

dfm['med_days_since'] = dfm.groupby(['user_id'])['days_since_prior_order'].transform(np.mean)

In [61]:
print(dfm[['med_days_since', 'user_id', 'days_since_prior_order']].head(30))

    med_days_since  user_id  days_since_prior_order
0        18.542373        1                     0.0
1        18.542373        1                    15.0
2        18.542373        1                    21.0
3        18.542373        1                    29.0
4        18.542373        1                    28.0
5        18.542373        1                    19.0
6        18.542373        1                    20.0
7        18.542373        1                    14.0
8        18.542373        1                     0.0
9        18.542373        1                    30.0
10       10.416667       15                     7.0
11       10.416667       15                     8.0
12       10.416667       15                     7.0
13       10.416667       15                     7.0
14       10.416667       15                    14.0
15        6.779412       19                     6.0
16        6.779412       19                     8.0
17        6.779412       19                     6.0
18        9.809756       21                     6.0
19        5.809365       31                     7.0
20        5.809365       31                     8.0
21       10.190476       43                     4.0
22       10.190476       43                     3.0
23        8.826347       52                     0.0
24        8.826347       52                     7.0
25        8.826347       52                     7.0
26        8.826347       52                     8.0
27        8.826347       52                     8.0
28        8.826347       52                     7.0
29        8.826347       52                     8.0

In [62]:
# Create 'Order frequency' flag

In [63]:
dfm.loc[dfm['med_days_since'] > 20, 'Order freq'] = 'Non-frequent customer'

In [65]:
dfm.loc[(dfm['med_days_since'] > 10) & (dfm['med_days_since'] <= 20), 'Order freq'] = 'Regular customer'

In [66]:
dfm.loc[dfm['med_days_since'] <= 10, 'Order freq'] = 'Frequent customer'

In [67]:
dfm.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,user_price_mean,spending_flag,med_days_since,Order freq
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low spender,18.542373,Regular customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,18.542373,Regular customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,18.542373,Regular customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,18.542373,Regular customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,18.542373,Regular customer

In [68]:
print(dfm[['med_days_since', 'user_id', 'Order freq']].head(30))

    med_days_since  user_id         Order freq
0        18.542373        1   Regular customer
1        18.542373        1   Regular customer
2        18.542373        1   Regular customer
3        18.542373        1   Regular customer
4        18.542373        1   Regular customer
5        18.542373        1   Regular customer
6        18.542373        1   Regular customer
7        18.542373        1   Regular customer
8        18.542373        1   Regular customer
9        18.542373        1   Regular customer
10       10.416667       15   Regular customer
11       10.416667       15   Regular customer
12       10.416667       15   Regular customer
13       10.416667       15   Regular customer
14       10.416667       15   Regular customer
15        6.779412       19  Frequent customer
16        6.779412       19  Frequent customer
17        6.779412       19  Frequent customer
18        9.809756       21  Frequent customer
19        5.809365       31  Frequent customer
20        5.809365       31  Frequent customer
21       10.190476       43   Regular customer
22       10.190476       43   Regular customer
23        8.826347       52  Frequent customer
24        8.826347       52  Frequent customer
25        8.826347       52  Frequent customer
26        8.826347       52  Frequent customer
27        8.826347       52  Frequent customer
28        8.826347       52  Frequent customer
29        8.826347       52  Frequent customer

In [69]:
dfm['Order freq'].value_counts(dropna = False)

Frequent customer        17746845
Regular customer         13007845
Non-frequent customer     1648317
Name: Order freq, dtype: int64

In [71]:
dfm.to_pickle(os.path.join(path, "Prepped Data", "ords_prods_merged.pkl"))