In [1]:
import pandas as pd
import numpy as np

In [2]:
import os

In [3]:
path = r'C:\Documents\Career Foundry\Python\Instacart Basket Analysis\02 Data\Prepped Data'

In [4]:
path

'C:\\Documents\\Career Foundry\\Python\\Instacart Basket Analysis\\02 Data\\Prepped Data'

In [6]:
dfm = pd.read_pickle(os.path.join(path, 'dfm.pkl'))

In [8]:
dfm.dtypes

order_id                     int32
user_id                     object
order_number                  int8
orders_day_of_week            int8
order_hour_of_day             int8
days_since_prior_order     float32
product_id                   int32
add_to_cart_order            int16
reordered                     int8
product_name                object
aisle_id                     int16
department_id                 int8
prices                     float32
price_range_loc             object
busiest_day                 object
busiest_days                object
busiest_period_of_day       object
max_order                     int8
loyalty_flag                object
user_price_mean            float32
spending_flag               object
med_days_since             float32
Order freq                  object
First Name                  object
Surname                     object
Gender                      object
State                       object
Age                           int8
date_joined                 object
dependants                    int8
fam_status                  object
income                       int32
_merge                    category
dtype: object

In [9]:
crosstab = pd.crosstab(dfm['days_since_prior_order'], dfm['order_number'], dropna = False)

In [10]:
crosstab.to_clipboard()

In [15]:
df2 = dfm[['days_since_prior_order', 'order_number']]

In [16]:
df2.head()

   days_since_prior_order  order_number
0                     0.0             1
1                    15.0             2
2                    21.0             3
3                    29.0             4
4                    28.0             5

In [24]:
df2.groupby('order_number').agg({'days_since_prior_order': ['value_counts']})

                                    days_since_prior_order
                                              value_counts
order_number days_since_prior_order
1            0.0                                   2075998
2            30.0                                   465598
             7.0                                    184791
             6.0                                    120678
             8.0                                    112319
...                                                    ...
99           15.0                                       17
             30.0                                       13
             16.0                                       10
             14.0                                        5
             17.0                                        5

[2825 rows x 1 columns]

In [25]:
import gc

In [26]:
gc.collect()

68